In [1]:
import pandas as pd

In [2]:
csv_init = pd.read_csv("../datas/movie_metadata.csv")
csv_prod = pd.read_csv("../datas/prod_dataset.csv")

In [3]:
csv_init.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [4]:
csv_prod.head()

,director_name,duration,actor_2_name,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,language,...,movie_facebook_likes,All_age,Min_7,Min_13,All_PG,Min_16,Min_17,X,Y,Z
0,James Cameron,178.000000,Joel David Moore,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204.0,4834.0,Wes Studi,English,...,33000.0,0.0,0.0,0.0,1.0,1.0,1.0,-1.814478,-11.812453,-1.634149
1,Gore Verbinski,169.000000,Orlando Bloom,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220.0,48350.0,Jack Davenport,English,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.408081,-7.362393,-0.271248
2,Sam Mendes,148.000000,Rory Kinnear,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868.0,11700.0,Stephanie Sigman,English,...,85000.0,0.0,0.0,0.0,1.0,1.0,1.0,-1.419023,-11.444071,3.852532
3,Christopher Nolan,164.000000,Christian Bale,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337.0,106759.0,Joseph Gordon-Levitt,English,...,164000.0,0.0,0.0,0.0,1.0,1.0,1.0,-5.320964,-14.943352,0.670438
4,Doug Walker,107.201074,Rob Walker,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens ...,8.0,143.0,None,English,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,-9.462916,10.965971,-11.434647

In [6]:
csv_prod.to_json("../datas/prod_dataset.json")

remplace [^\\](') par \\' + var data = ' ... '

In [8]:
csv_prod["X"].max()

25.90385627746582

In [9]:
csv_prod["X"].min()

-28.05828857421875

In [10]:
csv_prod["Y"].min()

-24.428747177124023

In [11]:
csv_prod["Y"].max()

25.07725715637207

In [12]:
csv_prod["Z"].min()

-27.348974227905273

In [13]:
csv_prod["Z"].max()

24.521303176879886

In [14]:
len(csv_prod["Z"])

5036